Repository andr-235/fullstack-parser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andr-235, @developers, @security, @devops

.github/CODEOWNERS:

# Global owners
* @andr-235

# Backend code
/backend/ @developers @andr-235
/backend/app/core/ @security @andr-235
/backend/app/models/ @developers @andr-235

# Frontend code
/frontend/ @developers @andr-235
/frontend/app/ @developers @andr-235

# Infrastructure
/docker-compose*.yml @devops @andr-235
/Dockerfile* @devops @andr-235
/.github/workflows/ @devops @andr-235
/scripts/ @devops @andr-235

# Security
/.github/SECURITY.md @security @andr-235
/.github/dependabot.yml @security @andr-235

# Documentation
/docs/ @developers @andr-235
README.md @andr-235

fix(deploy): добавить агрессивную очистку Docker кэша в workflow деплоя
  .github/workflows/deploy-production.yml
Owners: @devops, @andr-235

fix(deploy): добавить агрессивную очистку Docker кэша в workflow деплоя (#247)
  .github/workflows/deploy-production.yml
Owners: @devops, @andr-235

fix(docker): исправить ошибку buildx с site-packages и добавить очистку кэша
  .github/workflows/deploy-production.yml
  backend/Dockerfile
Owners: @devops, @andr-235, @developers

fix(docker): исправить ошибку buildx с site-packages и стабилизировать деплой (#251)
  .github/workflows/deploy-production.yml
  backend/Dockerfile
Owners: @devops, @andr-235, @developers

fix(deploy): исправить сборку и деплой для Python 3.13
  .github/workflows/deploy-production.yml
  backend/Dockerfile.arq
Owners: @devops, @andr-235, @developers

fix(deploy): исправить сборку и деплой для Python 3.13 (#256)
  .github/workflows/deploy-production.yml
  backend/Dockerfile.arq
Owners: @devops, @andr-235, @developers

fix(frontend): устранён таймаут сборки Docker, добавлен retry-скрипт и инструкция по деплою
  .github/workflows/simple-ci.yml
  Makefile
  Makefile.simple
  README.md
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  docs/SINGLE_DEV_CICD.md
  frontend/Dockerfile
  scripts/deploy-with-retry.sh
  scripts/quick-deploy.sh
  scripts/switch-cicd.sh
Owners: @devops, @andr-235, @developers

chore(frontend): обновлён pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Owners: @developers, @andr-235

Bugfix/fix docker build timeout (#259)
  .github/workflows/simple-ci.yml
  Makefile
  Makefile.simple
  README.md
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  docs/SINGLE_DEV_CICD.md
  frontend/Dockerfile
  frontend/pnpm-lock.yaml
  scripts/deploy-with-retry.sh
  scripts/quick-deploy.sh
  scripts/switch-cicd.sh
Owners: @devops, @andr-235, @developers
